.sidebar {
  background-color: #343a40;
  height: 100%;
  width: 200px;
  position: fixed;
  overflow: hidden;
}

.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

.sidebar ul {
  margin: 0;
  list-style: none;
  padding: 15px 0;
}

.sidebar li {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  float: none;
  padding: 0;
  position: relative;
  margin: 0;
}

.sidebar a {
  padding: 9px 25px;
  cursor: pointer;
  min-height: 44px;
  text-decoration: none;
  position: relative;
  align-items: stretch;
  color: #ffffff;
}

.sidebar a:hover {
  background-color: #1B7B52;
}

.sidebar a:focus {
  background-color: #1B7B52;
}

.nav-icon {
  margin-left: .05rem;
  font-size: 1.2rem;
  margin-right: .2rem;
  text-align: center;
  width: 1.6rem;
}